.purpose{
    width: 100%;
    background-color: #202021;
    // background: transparent;
    position: relative;
}
.purpose__col{
    width: 90%;
    margin: 0rem auto;
    padding: 2rem 0;
    color: #ffffff;

    @media (max-width:1200px) {
        margin: 1rem auto;
        padding: 0.6rem 0;
    }
}