@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;900&display=swap');

:root {
  --font-base: 'Space Grotesk', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
  --primary-color: rgba(253, 89, 89, 0.72);
  --project-color: #0b1244;
  --secondary-color: #DDFF55;
  --tetiary-color: #eef2f6;
  --black-color: #f7f2f2;
  --lightGray-color: #f9f8f8;
  --gray-color: #e5edf9;
  --white-color: #ffffff;
  --whiteInverse: #010101;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}